body
{
	color: #000;
	background-color: #24cdb2;
	font-family: Centery Gothic;
	
}
.contenedor{
	width:70%;
		
	max-width: 550px;
	padding: 2% 10% 10% 10%;
	margin-top: 3%;
	margin-left: 20%;
	background: #fff;
	-webkit-box-shadow: 0px -1px 29px 1px rgba(107,104,84,1);
	-moz-box-shadow: 0px -1px 29px 1px rgba(107,104,84,1);
	box-shadow: 0px -1px 29px 1px rgba(107,104,84,1);
	border-radius: 60px;
}

#accion{
	font-family: century gothic;
	font-size: 16px;
	color: #000;
	width: 20%;
	outline: none;
	padding: 10px;

	border: none;
	border-bottom: 2px solid #c0c0c0;
	align-content: center;
	}
#accion:focus{
	width: 40%;
    -webkit-transition: width 0.8s ease-in-out;
    transition: width 0.8s ease-in-out;
	outline: none;
	border: 2px solid #24cdb2;
	}
#caja_1, #caja_2
{
	font-family: century gothic;
	font-size: 16px;
	color: #000;
	width: 28%;
	outline: none;
	padding: 10px;
	border: none;
	border-bottom: 2px solid #c0c0c0;
	align-content: center;
}
#caja_1:focus, #caja_2:focus
{
	width: 40%;
    -webkit-transition: width 0.8s ease-in-out;
    transition: width 0.8s ease-in-out;
	outline: none;
	border: 2px solid #24cdb2;
}
.input-group{
	position: relative;
	margin-bottom: 18px;
}


.esTabla
{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: black;
	background-color: white;
	width: 50%;
	border: 3px solid #24cdb2;
	border-radius: 15px;
	font-size: 20px;
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
   	white-space: -pre-wrap;      /* Opera 4-6 */
   	white-space: -o-pre-wrap;    /* Opera 7 */
   	white-space: pre-wrap;       /* css-3 */
   	word-wrap: break-word;       /* Internet Explorer 5.5+ */
   	word-break: break-all;
   	white-space: normal;
}